# General
.DS_Store
mongo/db-data/
next/app/
next/.next/
mongo/strapidata/
.idea/
*.wt
docker/mongo/strapidata/diagnostic.data/metrics.2021-09-03T11-40-35Z-00000
docker/mongo/strapidata/diagnostic.data/metrics.interim
docker/mongo/strapidata/journal/WiredTigerLog.0000000001
docker/mongo/strapidata/journal/WiredTigerPreplog.0000000001
docker/mongo/strapidata/journal/WiredTigerPreplog.0000000002
docker/mongo/strapidata/mongod.lock
docker/mongo/strapidata/storage.bson
docker/mongo/strapidata/WiredTiger
docker/mongo/strapidata/WiredTiger.lock
docker/mongo/strapidata/WiredTiger.turtle
